*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

::-webkit-scrollbar{
  display: none;
}
.app{
  width:100vw;
  height:100vh;
  background-color: #f2f2f2;
  display: flex;
  justify-content: center;
}

.main{
  width:80vw;
  height: 100vh;
  background-color: #fff;
  text-align: center;
  overflow-y: scroll;
}

.text_div{
  padding: 20px;
}

.text{
  color:#191d8f;
  padding:20px;
}

.calculator{
  width:66%;
  margin:auto;
  border: 2px solid black;
  padding: 15px;
}
.btn_div{
  padding:10px;
  display: flex;
  justify-content: center;
}

.btn{
  margin-right: 20px;
}

.info{
  text-align: left;
  font-size: 20px;
  font-family: system-ui;
}

.dream_info , .comp_info , .destiny_info, .soul_info{
  padding:20px;
}

.info p{
  padding: 10px;
}

.num{
  background-color: rgb(245, 111, 245);
  border-radius: 20%;
  width:20px;
  height: 20px;
  padding:7px;

}
 